<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Jobs</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pt-5">
        <div class="alert alert-primary" role="alert" th:each="job: ${jobs}">
            <h3 class="alert-heading">
                <span th:text="${job.company +' : '+ job.title}" style="text-decoration: none">Company : Job Title</span>
            </h3>
            <p th:text="${job.description}">Job Description</p>
        </div>
    </div>
</div>
</body>
</html>
