<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Create New Profile</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pt-5 row ">
        <div class="offset-md-3 col-md-6">
        <div th:if="${msg}">
            <div class="alert alert-success"><span th:text="${msg}">Message</span></div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Create New Profile</h3>
            </div>
            <div class="card-body">
                <form id="createForm" method="post" th:method="post"
                      th:action="${'/profiles'}" th:object="${profile}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name*</label>
                        <input type="text" id="name" name="name"
                               class="form-control"
                               required="required"
                               th:field="*{name}"
                               th:value="${profile.name}"
                               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                               placeholder="Enter name"
                               />
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" id="email" name="email"
                               th:field="*{email}"
                               th:value="${profile.email}"
                               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                               class="form-control" placeholder="Enter email" />
                        <div class="invalid-feedback"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
                    </div>
                    <div class="mb-3">
                        <label for="blog" class="form-label">Blog</label>
                        <input type="text" id="blog" name="blog"
                               th:field="*{blog}"
                               th:value="${profile.blog}"
                               th:classappend="${#fields.hasErrors('blog')} ? 'is-invalid' : ''"
                               class="form-control" placeholder="Enter blog" />
                        <div class="invalid-feedback"  th:if="${#fields.hasErrors('blog')}" th:errors="*{blog}">blog Error</div>
                    </div>
                    <div class="mb-3">
                        <label for="github" class="form-label">GitHub</label>
                        <input type="text" id="github" name="github"
                               th:field="*{github}"
                               th:value="${profile.github}"
                               th:classappend="${#fields.hasErrors('github')} ? 'is-invalid' : ''"
                               class="form-control" placeholder="Enter github username" />
                        <div class="invalid-feedback"  th:if="${#fields.hasErrors('github')}" th:errors="*{github}">github Error</div>
                    </div>
                    <div class="mb-3">
                        <label for="twitter" class="form-label">Twitter</label>
                        <input type="text" id="twitter" name="twitter"
                               th:field="*{twitter}"
                               th:value="${profile.twitter}"
                               th:classappend="${#fields.hasErrors('twitter')} ? 'is-invalid' : ''"
                               class="form-control" placeholder="Enter twitter handle" />
                        <div class="invalid-feedback"  th:if="${#fields.hasErrors('twitter')}" th:errors="*{twitter}">twitter Error</div>
                    </div>
                    <div class="mb-3">
                        <label for="youtube" class="form-label">YouTube</label>
                        <input type="text" id="youtube" name="youtube"
                               th:field="*{youtube}"
                               th:value="${profile.youtube}"
                               th:classappend="${#fields.hasErrors('youtube')} ? 'is-invalid' : ''"
                               class="form-control" placeholder="Enter youtube channel name" />
                        <div class="invalid-feedback"  th:if="${#fields.hasErrors('youtube')}" th:errors="*{youtube}">youtube Error</div>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Save</button>

                </form>
            </div>
        </div>
        </div>

    </div>
</div>
</body>
</html>
